
.home-body{
    background-color: rgb(53,58,63);
}
.jumbotron{
    background-image: url(https://cdn.pixabay.com/photo/2014/10/16/09/15/lens-490806_1280.jpg);
    background-size: cover;
    height: 33em;
}
.lead{
    color: white;
    text-align: left;
} 
.display-3{
    color: rgb(48, 127, 246);
    /* color: rgb(53, 58, 63); */
    text-align: right;    
}
.div{
    text-align: center;
}
/* .col-7{
    border-radius: 4px;
}
.new-comedy{
    background-color: lightgray;
} */

.comedy-index-ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
    
}
.comedy-index-li{
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
.comedy-index-img{
    width: 300px;
    height: 450px;
}
.under-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.index-watched{
    /* border: 2px solid rgb(53,58,63); */
    padding: 6px;
    border-radius: 3px;
}
.comedy-body{
    background-color: black;
}
.drama-body{
    background-color: black;
}

