
.home-body{
    background-color: rgb(53,58,63);
}
.jumbotron{
    background-image: url(https://cdn.pixabay.com/photo/2014/10/16/09/15/lens-490806_1280.jpg);
    background-size: cover;
    height: 33em;
}
.lead{
    color: white;
    text-align: left;
} 
.display-3{
    color: rgb(48, 127, 246);
    /* color: rgb(53, 58, 63); */
    text-align: right;    
}
.div{
    text-align: center;
}
/* .col-7{
    border-radius: 4px;
}
.new-comedy{
    background-color: lightgray;
} */
#show-com-img{
    width: 100px;
}